.p-3{
background-color: #1D293A;
}
.bg{
    background-color: #111A28;
   
}

.container{
    background-color:#111A28;
    color: blanchedalmond;
}
.about{
    background-color:#111A28;
}
.leftinfo{
    margin-top: 120px;
}
.rightimg{
    margin-top: 120px;
}
 .leftinfo h1{
     font-size: 50px;
 }
 .leftinfo p{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
 }
 .leftinfo h3,h4{
    color:rgb(0, 185, 56);
 }
 .gray{
     filter: grayscale(100%);
 }
 .gray:hover{
     filter: none;

 }
.rightimg img{
    width: 320px;
    border-radius: 10px;
    transform: scale(.95);
    transition: all 1s;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.rightimg img:hover{
    transform: scale(1.2);
    z-index: 1;
}
